body {
  padding: 50px 0;
  background-image: url('https://www.ixpap.com/images/2021/02/pokemon-background-ixpap.jpg');
  background-size: cover;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}